.tour{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    margin:5vw ;
    img{
        width:80vw;
        border-top-left-radius:10px ;
        border-top-right-radius:10px ;
    
    }
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .1),
                -1px 0px 6px rgba(0, 0, 0, .1);
    border-radius: 10px;
   
    p{
        margin-left: 2vw;
        margin-right: 2vw;
        
        
    }
    .readMore{
        font-size: 16px;
        border: none;
        background-color: white !important;
        color: royalblue;
        outline: none; //to prevent the out lining when clicking
    }
    .top{
        width: 100%;
        display:flex ;
        h3{
            
    
            margin-left: 2vw;
        }
        p{
            margin-left: 2vw;
            margin-right: 2vw;
           
            align-self: center;
            background-color: royalblue;
            padding: .2em;
            color:white ;
            margin-left: auto;//read the article about flex box positioning
            
        }
    }
    .remove{
        background-color: transparent;
        border: rgb(255, 60, 0) 2px solid;
        color: rgb(255, 60, 0);
        font-weight: 750;
        width: fit-content;//remmember to use this more 
        padding: .5em;
        border-radius: 5px;
        margin: 0 auto 2vw auto
    }
    
}
.refresh{
    background-color: transparent;
    padding: .5em;
    border: royalblue 2px solid;
    color: royalblue;
    font-size: 1.12em;
    font-weight: 700;
    border-radius: 5px;
    outline: none;
}